
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 95vw;
}
.top{
    display: flex;
    justify-content: space-between;
    width: 79vw;
}
.country{
    display: flex;
    flex-wrap: wrap;
    /* width: 100px; */
    width: 100%;
}

.product{
    margin: auto;
    /* width: 700px; */
}
div{
    width: 100px;
    margin: 10px;
}
div>img{
    width: 100px;
    /* width: 100%; */
}
.image{
    width: 140px;
}
.countrylist{
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.eachdiv{
    width: 200px;
}

a{
    text-decoration: none;
}


.borderCountry{
    margin: 5px;
    padding: 10px;
}