*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --VeryLightGray: hsl(0, 0%, 98%);
    --VeryDarkBlue: hsl(200, 15%, 8%);
    --DarkBlue: hsl(209, 23%, 22%);
    --White: hsl(0, 0%, 100%);
    
    --VeryDarkBlue: hsl(207, 26%, 17%);
}
@font-face {
    font-family: nunito;
    src: url(./NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}
.nav{
    display:flex ;
    justify-content: space-between;
    margin: 30px;
}
.fewdark{
    background-color: var(--DarkBlue);
}
.few{
    width: 175px;
    margin: 20px;
    background-color: var(--White);

    /* background-color: var(--VeryLightGray); */
    
}
.fewdetails{
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    justify-content: space-between;

}
img{
    width: 100%;
}

.top{
    display: flex;
    justify-content: space-between;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;

}

body{
    background-color: var(--VeryLightGray);
    display: flex;
    font-family: nunito;
    font-size: 14px;
    color: var(--VeryDarkBlue);
    flex-direction: column; 
    
}
.dark{
    background-color: var(--VeryDarkBlue);
    color: var(--White);
}
.container{
    justify-content: center;
    display: flex;
    justify-content: center;
   /* background-color: var(--VeryLightGray); */
}
    .items{
        display: flex;
        flex-wrap: wrap;
        /* justify-self: center; */
        margin-top: 40px;
        /* background-color: var(--VeryLightGray); */
  
    }

a{
    text-decoration: none;
    
}
@media (max-width:400px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .search{
        margin: 10px;
    }
    .dropdown{
        display: flex;
        flex-direction: column;
    }
    .items{
        display: flex;
        align-items: center;
        align-self: center;
        width: 80%;
        justify-content: center;
    }
    .container{
        display: flex;
    }


}